{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block body_block %}

  <h1>
      Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
  </h1>
  {% if wizard.steps.step1 == 2 %}
    <p>The following amounts of active substance and witepsol are needed. Please prepare the substances and enter the weighed amounts.</p>
  {% endif %}
  <form class="custom-form" method="post">
    {% csrf_token %}
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {% bootstrap_form form %}
        {% endfor %}
      {% else %}
        {% bootstrap_form wizard.form %}
      {% endif %}
      {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
      <!-- <button type="submit" class="btn btn-primary" value="{{ wizard.steps.first }}">First step</button> -->
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous step" %}</button>
      <!-- <button type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}">Previous step</button> -->
      {% endif %}
      {% if wizard.steps.step1 == wizard.steps.count %}
        <input type="submit"  value="Submit">
      {% else %}
        <input type="submit" value="Next">
      {% endif %}

  </form>
{% endblock %}
