<h1 class="center">Uniformity of mass for {{ productions.name }} (LotNr: {{ productions.lot_nr }})</h1>
<p class="center">{{ productions.uniformity.calc_date }}</p>
<div class="container border">
  <div class="row">
    <div class="col">
      <table class="table abstand">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Input data</th>
            <th scope="col">Value</th>
            <th scope="col">Calculated data</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mass of 1 empty capsule</th>
            <td>{{ productions.uniformity.mass_1_caps_empty }} mg</td>
            <th scope="row"> + {{ productions.uniformity.diff_x2 }} %</th>
            <td> {{ productions.uniformity.plus_2_diff|floatformat:1 }} mg </td>
          </tr>
          <tr>
            <th scope="row">Mass of 20 filled capsules</th>
            <td>{{ productions.uniformity.mass_20_caps_full }} mg</td>
            <th scope="row"> + {{ productions.uniformity.diff }} % </th>
            <td> {{ productions.uniformity.plus_1_diff|floatformat:1 }} mg</td>
          </tr>
          <tr>
            <th scope="row">Mass of heaviest capsule</th>
            <td>{{ productions.uniformity.mass_max1 }} mg</td>
            <th scope="row">Mean content</th>
            <td> {{ productions.uniformity.mean|floatformat:1 }} mg </td>
          </tr>
          <tr>
            <th scope="row">Mass of second heaviest capsule</th>
            <td>{{ productions.uniformity.mass_max2|floatformat:1 }} mg</td>
            <th scope="row"> - {{ productions.uniformity.diff }} % </th>
            <td> {{ productions.uniformity.minus_1_diff|floatformat:1 }} mg</td>
          </tr>
          <tr>
            <th scope="row">Mass of third heaviest capsule</th>
            <td>{{ productions.uniformity.mass_max3 }} mg</td>
            <th scope="row"> - {{ productions.uniformity.diff_x2 }} % </th>
            <td> {{ productions.uniformity.minus_2_diff|floatformat:1 }} mg</td>
          </tr>
          <tr>
            <th scope="row">Mass of lightest capsule</th>
            <td>{{ productions.uniformity.mass_min1 }} mg</td>
            <th scope="row"> # of caps over +/- {{ productions.uniformity.diff_x2 }} %:</th>
            <td> {{ productions.uniformity.counter_above_2_diff }} pc</td>
          </tr>
          <tr>
            <th scope="row">Mass of second lightest capsule</th>
            <td>{{ productions.uniformity.mass_min2 }} mg</td>
            <th scope="row"> # of caps over +/- {{ productions.uniformity.diff }} %:</th>
            <td> {{ productions.uniformity.counter_above_1_diff }} pc.</td>
          </tr>
          <tr>
            <th scope="row">Mass of third lightest capsule</th>
            <td>{{ productions.uniformity.mass_min3 }} mg</td>
            <th scope="row">TEST RESULT:</th>
            {% if productions.uniformity.release_note %} <td style="color:green;">PASSED</td>{% else %}<td style="color:red;">FAILED</td>{% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% if productions.uniformity.uniformity_plot %}
    <img class="img-fluid" src="data:image/png;base64, {{productions.uniformity.uniformity_plot|safe}}">
  {% endif %}
</div>
