<h1 class="center">Production calculation for {{ productions.name }} (LotNr: {{ productions.lot_nr }})</h1>
<p class="center">{{ productions.capsprod.calc_date }} </p>
<div class="container border">
  <div class="row">
    <div class="col">
      <table class="table abstand">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Input data</th>
            <th scope="col">Value</th>
            <th scope="col">Calculated data</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Amount of caps</th>
            <td scope="row">{{ productions.dose_units_incl_excess }} pc.</td>
            <th scope="row"> Required amount of tablets</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.required_amount_of_tabs %}
                <td scope="row"> {{ ingredient.required_amount_of_tabs|floatformat:2 }} pc.</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">Concentration per cap</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.conc_per_dose_unit %}
                <td scope="row">{{ ingredient.conc_per_dose_unit }} mg</td>
              {% endif %}
            {% endfor %}
            <th scope="row"> Required mass of tablet powder</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.target_amount_for_bulk %}
                <td scope="row">{{ ingredient.target_amount_for_bulk }} mg</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">Concentration per tablet</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.conc_per_dose_unit %}
                <td scope="row">{{ ingredient.conc_per_dose_unit }} mg</td>
              {% endif %}
            {% endfor %}
            <th scope="row">Required volume</th>
            <td scope="row"> {{ productions.capsprod.required_volume }} ml</td>
          </tr>
          <tr>
            <th scope="row">Amount of weighed tablets</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.required_amount_of_tabs_incl_excess %}
                <td scope="row">{{ ingredient.required_amount_of_tabs_incl_excess }} pcs.</td>
              {% endif %}
            {% endfor %}
            <th scope="row">Mass of produced powdermix</th>
            <td scope="row">{{ productions.capsprod.mass_required_volume|floatformat:4 }} g</td>
          </tr>
          <tr>
            <th scope="row">Mass of weighed tablets</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.weight_tabs_incl_excess %}
                <td scope="row">{{ ingredient.weight_tabs_incl_excess }} mg</td>
              {% endif %}
            {% endfor %}
            <th scope="row">RESULT</th>
            {% if productions.capsprod.release_note %} <td style="color:green;">PASSED</td>{% else %}<td style="color:red;">FAILED</td>{% endif %}
          </tr>
          <tr>
            <th scope="row">Mass of used tablet powder</th>
            {% for ingredient in productions.ingredient_set.all %}
              {% if ingredient.actual_amount_for_bulk and not ingredient.is_filler_excipient%}
                <td scope="row">{{ ingredient.actual_amount_for_bulk|floatformat:1 }} mg</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">Caps size</th>
            <td scope="row">{{ productions.capsprod.get_caps_size_display }}</td>
          </tr>
          <tr>
            <th scope ="row">Tara of precoated measuring cylinder</th>
            <td scope="row">{{ productions.capsprod.tara_meas_cylinder }} g</td>
          </tr>
          <tr>
            <th scope ="row">Total mass of measuring cylinder <br> filled with {{ productions.capsprod.required_volume }} ml of powdermix</th>
            <td scope="row">{{ productions.capsprod.mass_required_volume_incl_tara }} g</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
