<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
  <h1>{{ productions.name }} (LotNr: {{ productions.lot_nr }} )</h1>
  <p>{{ productions.calc_date }}</p>
  <hr class="featurette-divider hr-thick">
  {% include "productions/_partials/general_info.html" %}
  <hr class="featurette-divider">
  {% if productions.galenical_form == "suppositories" %}
    {% include "productions/_partials/suppos_ingredients.html" %}
  {% else %}
    {% include "productions/_partials/caps_ingredients.html" %}
  {% endif %}
  <hr class="featurette-divider">
  {% if productions.galenical_form == "suppositories" %}
    {% include "productions/_partials/results_suppos.html" %}
  {% else %}
    {% include "productions/_partials/results_caps.html" %}
  {% endif %}
  <hr class="featurette-divider">
  {% if productions.galenical_form == "suppositories" %}
      {% include "productions/_partials/suppos_cards.html" %}
  {% else %}
      {% include "productions/_partials/caps_cards.html" %}
  {% endif %}
  <a class="btn btn-primary" href="{% url 'productions:pdf' pk=productions.pk %}">Generate PDF</a>
  <a class="btn btn-danger" href="{% url 'productions:delete' pk=productions.pk %}">Delete production</a>
{% endblock %}
