{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body_block %}

  {% if not productions_list %}
    <h1>No productions to show</h1>
  {% else %}
    <h1>List of productions</h1>
  {% endif %}
  <table class="table">
    <thead  style="position: sticky;top: 0;background-color: #eee;border-collapse: collapse;"class="thead-dark">
      <tr>
        <th class="sticky-header" scope="col">Lot nr</th>
        <th class="sticky-header" scope="col">Name of production</th>
        <th class="sticky-header" scope="col"> Galenical form</th>
        <th class="sticky-header" scope="col">Date of production</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for production in productions_list %}
      <tr>
        <td> {{ production.lot_nr }} </td>
        <td>{{ production.name }}</td>
        <td> {{ production.get_galenical_form_display }}</td>
        <td>{{ production.calc_date }}</td>
        <td><a class="btn btn-primary" href="{% url 'productions:detail' pk=production.pk %}">Show</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
