{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body_block %}

  {% if not productions_list %}
    <h1>No productions to show</h1>
  {% else %}
    <h1>List of productions</h1>
  {% endif %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Lot nr</th>
        <th scope="col">Name of production</th>
        <th scope="col">Date of production</th>
        <th scope="col">Test result</th>
      </tr>
    </thead>
    <tbody>
    {% for production in productions_list %}
      <tr>
        <td> {{ production.lot_nr }} </td>
        <td>{{ production.name }}</td>
        <td>{{ production.calc_date }}</td>
        <td>to be implemented soon</td>
        <td><a class="btn btn-primary" href="{% url 'productions:detail' pk=production.pk %}">Show</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
