<h1 class="center">Production calculation for {{ productions.name }} (LotNr: {{ productions.lot_nr }})</h1>
<p class="center">{{ productions.supposprod.calc_date }}</p>
<div class="container border">
  <div class="row">
    <div class="col">
      <table class="table abstand">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Input data</th>
            <th scope="col">Value</th>
            <th scope="col">Calculated data</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Amount of suppositories incl. excess</th>
            <td>{{ productions.dose_units_incl_excess }} pc.</td>
            <th scope="row">Used mass of witepsol (target/actual)</th>
            {% for ingredient in productions.ingredient_set.all  %}
              {% if ingredient.is_filler_excipient %}
                <td>{{ ingredient.target_amount_for_bulk|floatformat:2 }} / {{ ingredient.target_amount_for_bulk|floatformat:2 }} g</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">Calibration value of suppository mould</th>
            <td>{{ productions.supposprod.calib_value_suppo_mould }} mg/suppo</td>
            <th scope="row">RESULT</th>
            {% if productions.supposprod.release_note %} <td style="color:green;">PASSED</td>{% else %}<td style="color:red;">FAILED</td>{% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
