{% load static %}
<hr class="featurette-divider">
<div class="container " style="background-color: #f7f7f7; padding: 20px 20px 20px 20px;">
  <h3>Calculations</h3>
  <div class="row text-center">
    {% if not productions.ambvvalue %}
      <div class="card bg-light mb-3" style="width: 25%;">
        <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/AMBV.png' %}" height="150" width="150">
        <div class="card-body">
          <h5 class="card-title">Calculate <a href="https://www.fedlex.admin.ch/eli/cc/2018/786/de#annex_3">AMBV value</a></h5>
            <p class="card-text">Calculate the Risk value according to the Medicinal Products Licensing Ordinance Annex 3.</p>
            <a class="btn btn-primary" href="{% url 'productions:add_ambv_value' pk=productions.pk%}" role="button">Add</a>
        </div>
      </div>
    {% endif %}
    {% if not productions.capsprod and productions.ingredient_set.count >= 2  %}
      <div class="card bg-light mb-3" style="width: 25%;">
        <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Capsules_Prod.png' %}" height="150" width="150">
        <div class="card-body">
          <h5 class="card-title">Add Production calculation</h5>
            <p class="card-text">Create capsules from tablets, with and without coating. You also have the option to produce from pure active ingredient.</p>
            <a class="btn btn-primary" href="{% url 'caps_prod:add_new' pk=productions.pk%}" role="button">Add</a>
        </div>
      </div>
    {% endif %}
    {% if not productions.uniformity %}
      <div class="card bg-light mb-3" style="width: 25%;">
        <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Capsules_Gaussian.png' %}" height="150" width="150">
        <div class="card-body">
          <h5 class="card-title">Check uniformity of mass</h5>
            <p class="card-text">Check uniformity of mass according to the European Pharmacopoeia.</p>
            <a class="btn btn-primary" href="{% url 'capsules:uniformity' pk=productions.pk %}" role="button">Check</a>
        </div>
      </div>
    {% endif %}
    {% if not productions.capsprod or not productions.uniformity %}
      <div class="card bg-light mb-3" style="width: 25%;">
        <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Mass_Balance.png' %}" height="150" width="150">
        <div class="card-body">
          <h5 class="card-title">Mass balance</h5>
            <p class="card-text">The mass balance will be automatically calculated from the production calculation and the uniformity of mass. </p>
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
        </div>
      </div>
    {% else  %}
    {% if productions.altprice.final_price %}
      <div class="card bg-light mb-3" style="width: 25%;">
        <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Money.png' %}" height="150" width="150">
        <div class="card-body">
          <h5 class="card-title">Price calculation</h5>
            <p class="card-text">Calculate the price according to "Arzneimittellist mit Tarif."</p>
            <a class="btn btn-primary" href="{% url 'alt_price:add' pk=productions.pk %}" role="button">Calculate</a>
        </div>
      </div>
    {% endif %}
    <p style="text-align: left;">All possible calculations have been made.</p>
    {% endif %}
  </div>
</div>
<p></p>
  <hr class="featurette-divider">
