{% load static %}
<table class="table ">
<thead class="thead-dark">
  <tr>
    <th scope="col">Ingredient</th>
    <th scope="col">Amount</th>
  </tr>
</thead>
<tbody>
  {% for ingredient in productions.ingredient_set.all %}
    <tr>
      <td>{{ ingredient.substance }}</td>
      <td>{{ ingredient.actual_amount|default_if_none:"&nbsp;" }}</td>
      <td><a class="btn btn-warning" href="{% url 'productions:update_ingredient' pk=ingredient.pk %}">Edit<a></td>
      <td> <a class="btn btn-danger" href="{% url 'productions:delete_ingredient' pk=ingredient.pk %}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
