{% load static %}
<div class="prodbg" style="  background-color: #f7f7f7; padding: 20px 20px 20px 20px;">
  <h3>Results</h3>
{% if productions.supposuniformity or productions.supposprod%}
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Calculation</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    {% if productions.supposprod %}
    <tr>
      <th scope="row"> Production calculation</th>
      <td> Produced {{ productions.supposprod.mass_suppomass_actual|floatformat:1 }} g of suppository base for {{ productions.supposprod.amount_of_suppos }} suppositories. </td>
      <td><a class="btn btn-primary" href="{% url 'suppos_prod:detail' pk=productions.supposprod.pk %}">Show</a></td>
    </tr>
    {% endif %}
    {% if productions.supposuniformity %}
      <tr>
        <th scope="row"> Uniformity of mass</th>
        {% if productions.supposuniformity.release_note %} <td style="color:green;">PASSED</td>{% else %}<td style="color:red;">FAILED</td>{% endif %}
        <td><a class="btn btn-primary" href="{% url 'suppositories:detail' pk=productions.supposuniformity.pk %}">Show</a></td>
      </tr>
    {% endif %}
    {% if productions.supposuniformity and productions.supposprod %}
      <tr>
        <th scope="row"> Mass balance</th>
        {% if productions.supposmassbalance.release_note %} <td style="color:green;">PASSED</td>{% else %}<td style="color:red;">FAILED</td>{% endif %}
        <td><a class="btn btn-primary" href="{% url 'suppos_mass_balance:detail' pk=productions.pk %}">Show</a></td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endif %}

</div>
<p></p>
<p></p>
<hr class="featurette-divider">
<div class="container " style="background-color: #f7f7f7; padding: 20px 20px 20px 20px;">
  <h3>Calculations</h3>
  <div class="row text-center">
      {% if not productions.supposprod and not productions.ingredient_set.count == 0 %}
        <div class="card bg-light mb-3" style="width: 25%;">
          <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Capsules_Prod.png' %}" height="150" width="150">
          <div class="card-body">
            <h5 class="card-title">Add Production calculation</h5>
              <p class="card-text">Create suppositories using the "Verdrängungsfaktormethode".</p>
              <a class="btn btn-primary" href="{% url 'suppos_prod:add_new' pk=productions.pk%}" role="button">Add</a>
              <!-- add url template toag to supposprod add new -->
          </div>
        </div>
      {% endif %}
      {% if not productions.supposuniformity %}
        <div class="card bg-light mb-3" style="width: 25%;">
          <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Capsules_Gaussian.png' %}" height="150" width="150">
          <div class="card-body">
            <h5 class="card-title">Check uniformity of mass</h5>
              <p class="card-text">Check uniformity of mass according to the European Pharmacopoeia.</p>
              <a class="btn btn-primary" href="{% url 'suppositories:uniformity' pk=productions.pk %}" role="button">Check</a>
          </div>
        </div>
      {% endif %}
      {% if not productions.supposprod or not productions.supposuniformity %}
        <div class="card bg-light mb-3" style="width: 25%;">
          <img class="rounded-circle border border-3 mx-auto" src="{% static 'img/Mass_Balance.png' %}" height="150" width="150">
          <div class="card-body">
            <h5 class="card-title">Mass balance</h5>
              <p class="card-text">The mass balance will be automatically calculated from the production calculation and the uniformity of mass. </p>
              <a class="btn btn-primary" href="#" role="button">Learn more</a>
          </div>
        </div>
      {% endif %}
  </div>
</div>
