{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body_block %}
  <h1>
      Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
  </h1>
  {% if wizard.steps.step1 == 2 %}
    <p>For {{ amount_of_caps }} capsules à {{ conc_per_cap }}mg, a total of {{ total_amount }}mg is needen. Using tablets à {{ conc_per_tab }}mg, {{ needed_amount_of_tabs }} tablets are needed. With an excess of 10%, the suggested amount of tablets is <b>{{ suggested_amount_of_tabs }}</b>. </p>
  {% endif %}
  {% if wizard.steps.step1 == 3 %}
    <p> {{ amount_of_weighed_tabs }} weighed tabs have a mass of {{ mass_all_tabs }}. For the required {{ needed_amount_of_tabs }} tabs, <b>{{ required_mass_powder }} g </b>  are needed.</p>
  {% endif %}
  <form class="custom-form" method="post">
    {% csrf_token %}
      <!-- {% bootstrap_form form %} -->
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {% bootstrap_form form %}
        {% endfor %}
      {% else %}
        {% bootstrap_form wizard.form %}
      {% endif %}
      {% if wizard.steps.prev %}
      <button type="submit" class="btn btn-primary" value="{{ wizard.steps.first }}">First step</button>
      <button type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}">Previous step</button>
      {% endif %}
      <input type="submit" value="Submit">
  </form>
{% endblock %}
