{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block body_block %}

  <h1>
      Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
  </h1>
  {% if wizard.steps.step1 == 2 %}
    <p>For {{ amount_of_caps }} capsules à {{ conc_per_cap }}mg, a total of {{ total_amount }}mg is needen. Using tablets à {{ conc_per_tab }}mg, {{ needed_amount_of_tabs }} tablets are needed. With an excess of 10%, the suggested amount of tablets for mortaring is about <b>{{ suggested_amount_of_tabs }}</b>pc. * </p>
  {% endif %}
  {% if wizard.steps.step1 == 3 %}
    <p> {{ amount_of_weighed_tabs }} weighed tablets have a mass of {{ mass_all_tabs }} mg. These tablets are now mortared to generate the tabletpowder. For the required {{ needed_amount_of_tabs }} tabs, <b>{{ required_mass_powder }} mg </b> * are needed for the production of the powdermix.</p>
  {% endif %}
  {% if wizard.steps.step1 == 4 %}
    <p> Dilute the weighed amount of tablet powder ana partes aquales up to about 50% of final mass. Then, use the sandwich method to fill the measuring cylinder up to the required volume for the powdermix.</p>
  {% endif %}
  <form class="custom-form" method="post">
    {% csrf_token %}
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {% bootstrap_form form %}
        {% endfor %}
      {% else %}
        {% bootstrap_form wizard.form %}
      {% endif %}
      {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
      <!-- <button type="submit" class="btn btn-primary" value="{{ wizard.steps.first }}">First step</button> -->
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous step" %}</button>
      <!-- <button type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}">Previous step</button> -->
      {% endif %}
      {% if wizard.steps.step1 == 4 %}
        <input type="submit"  value="Submit">
      {% else %}
        <input type="submit" value="Next">
      {% endif %}

  </form>
{% endblock %}
