<!DOCTYPE html>
<head>
  <style>
    th {text-align: left;}
    .abstand {padding-left: 20px;}
    .center {text-align: center;}
  </style>
</head>
  <body>


  <h1 class="center">Uniformity of mass for {{suppos_uniformity.production.name}}, LotNr: {{ suppos_uniformity.production.lot_nr }}</h1>
    <div class="border">
      <table class="abstand">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Input data</th>
          <th scope="col">Value</th>
          <th scope="col">Calculated data</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Mass of 10 suppositories [g]</th>
          <td>{{ suppos_uniformity.mass_10_suppos }}</td>
          <th scope="row"> + {{ suppos_uniformity.diff_x2 }} % </th>
          <td> {{ suppos_uniformity.plus_2_diff }} </td>
        </tr>
        <tr>
          <th scope="row">Mass of heaviest suppository [g]</th>
          <td>{{ suppos_uniformity.mass_max1 }}</td>
          <th scope="row"> + {{ suppos_uniformity.diff }} % </th>
          <td> {{ suppos_uniformity.plus_1_diff }} </td>
        </tr>
        <tr>
          <th scope="row">Mass of second heaviest suppository [g]</th>
          <td>{{ suppos_uniformity.mass_max2 }}</td>
          <th scope="row">Mean content</th>
          <td> {{ suppos_uniformity.mean }} </td>
        </tr>
        <tr>
          <th scope="row">Mass of third heaviest suppository [g]</th>
          <td>{{ suppos_uniformity.mass_max3 }}</td>
          <th scope="row"> - {{ suppos_uniformity.diff }} % </th>
          <td> {{ suppos_uniformity.minus_1_diff }} </td>
        </tr>
        <tr>
          <th scope="row">Mass of lightest suppository [g]</th>
          <td>{{ suppos_uniformity.mass_min1 }}</td>
          <th scope="row"> - {{ suppos_uniformity.diff_x2 }} % </th>
          <td> {{ suppos_uniformity.minus_2_diff }} </td>
        </tr>
        <tr>
          <th scope="row">Mass of second lightest suppository [g]</th>
          <td>{{ suppos_uniformity.mass_min2 }}</td>
          <th scope="row"> # of caps over +/- {{ suppos_uniformity.diff_x2 }} %:</th>
          <td> {{ suppos_uniformity.counter_above_2_diff }} </td>
        </tr>
        <tr>
          <th scope="row">Mass of third lightest suppository [g]</th>
          <td>{{ suppos_uniformity.mass_min3 }}</td>
          <th scope="row"> # of caps over +/- {{ suppos_uniformity.diff }} %:</th>
          <td> {{ suppos_uniformity.counter_above_1_diff }} </td>
        </tr>
        <tr>
          <th scope="row"> Test</th>
          <td> Test</td>
          <th scope="row">TEST RESULT:</th>
          {% if suppos_uniformity.release_note %} <td style="color:green;">PASSED</td>{% else %}<td style="color:red;">FAILED</td>{% endif %}
        </tr>
      </tbody>
    </table>
      {% if suppos_uniformity.uniformity_plot %}
        <img src="data:image/png;base64, {{suppos_uniformity.uniformity_plot|safe}}">
      {% endif %}
    </div>
  </body>
